/netBeans/PropertyEditorColores/nbproject/private/
/netBeans/JavaApplication20.1/nbproject/private/
/netBeans/JavaApplication20.1/dist/
/netBeans/JavaApplication20.1/build/
/netBeans/PropertyEditorColores/dist/
/netBeans/PropertyEditorColores/build/
/netBeans/BaseDeDatos/nbproject/private/
/netBeans/coloresAndrea/nbproject/private/
/netBeans/coloresAndrea/build/
/netBeans/coloresAndrea/dist/
/netBeans/BaseDeDatos/build/
/netBeans/BotonBD/nbproject/private/
/netBeans/BotonBD/dist/
/netBeans/BotonBD/build/
/netBeans/TextFieldMayus/nbproject/private/
/netBeans/TextFieldMayus/build/
/netBeans/TextFieldMayus/dist/