/netBeans/PropertyEditorColores/nbproject/private/
/netBeans/JavaApplication20.1/nbproject/private/
/netBeans/JavaApplication20.1/dist/
/netBeans/JavaApplication20.1/build/
/netBeans/PropertyEditorColores/dist/
/netBeans/PropertyEditorColores/build/